<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>AlgaWorks</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de vinho
			</h1>
		</div>
	</div>

	<div class="container-fluid">
		<div class="alert  alert-success  alert-dismissible" role="alert" th:if="${not #strings.isEmpty(message)}">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div>
				<i class="fa  fa-exclamation-circle mr-3"></i>
				<span th:text="${message}"></span>
			</div>
		</div>

		<form method="POST" class="form-vertical  js-form-loading" th:object="${wine}" th:action="@{/wines/new}">
			<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<th:block th:each="error : ${#fields.detailedErrors()}">
					<div>
						<i class="fa  fa-exclamation-circle mr-3"></i>
						<span th:text="${error.message}"></span>
					</div>
				</th:block>
			</div>


			<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
				<label for="name" class="control-label">Nome</label>
				<input id="name" type="text" class="form-control" th:field="*{name}"/>
			</div>
	
			<div class="row">
				<div class="col-sm-6 form-group" th:classappend="${#fields.hasErrors('type')} ? has-error">
					<label for="type" class="control-label">Tipo do vinho</label>
					<select id="type" class="form-control" th:field="*{type}" >
						<option value="">Selecione o tipo</option>
						<option th:each="type : ${types}" th:value="${type}" th:text="${type.description}"></option>
					</select>
				</div>

				<div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('harvest')} ? has-error">
					<label for="harvest" class="control-label">Safra</label>
					<input id="harvest" type="text" class="form-control" placeholder="Safra" th:field="*{harvest}"/>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('content')} ? has-error">
					<label for="content" class="control-label">Volume</label>
					<input id="content" type="text" class="form-control" placeholder="750ml" th:field="*{content}"/>
				</div>

				<div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('price')} ? has-error">
					<label for="price" class="control-label">Valor</label>
					<input id="price" type="text" class="form-control" placeholder="R$ 350,00" th:field="*{price}"/>
				</div>
			</div>


			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>

		</form>
	</div>

</section>
</body>
</html>